<div class="panel clearfix">
<h5>Inactive Camps</h5>
<ul class="side-nav">
	<% unless @inactive_camps.empty? %>
	  <% @inactive_camps.each do |camp| %>
	    <li><%= link_to camp.name, camp_path(camp) %></li>
	  <% end %>
	  <% else %>
	<p>No inactive camps</p>
<% end %>
</ul>
</div>
