<% unless @registrations.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <table>
    <h5>Registrations</h5>
      <% @registrations.each do |reg| %>
        <tr>
          <td><%= link_to reg.student.proper_name, student_path(reg.student) %></td>
          <td><%= link_to 'Edit', edit_registration_path(reg), class: "button tiny radius" %></td>
          <td><%= link_to "Destroy", reg, confirm: 'Are you sure?', method: :delete, class: "button tiny radius alert" %></td>
        </tr>
      <% end %>
    </ul>
  </table>

<% else %>
  <div class="panel clearfix">
    <h5>No Registrations</h5>
  </div>
<% end %>

<%= link_to 'Add registrations', new_registration_path(:id => @camp.id), class: "button tiny radius" %>