<h3>&nbsp;</h3>
<div class="panel clearfix">
<h5>Inactive Families</h5>
<ul class="side-nav">
	<% unless @inactive_families.empty? %>
	  <% @inactive_families.each do |family| %>
	    <li><%= link_to family.family_name, family_path(family) %></li>
	  <% end %>
	<% else %>
	<p>No inactive families</p>	
	<% end %>

</ul>
</div>
