<% unless @students.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Students Used:</h5>
    <ul class="side-nav">
      <% @students.each do |student| %>
        <li><%= link_to "#{student.name}", student_path(student) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>Student has not been used</h5>
  </div>
<% end %>