<div class="fields">
    <div class="min_user">
      <!-- fields -->
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :role, collection: [['Administrator', :admin],['Instructor', :instructor]], prompt: "Select role..." %>
    </div>
</div>
