<% unless camp_item.nil? %>
	<tr>
		<td><%= link_to(camp_item.name, camp_path(camp_item)) %><br /></td>
		<td><%= camp_item.start_date.strftime("%b %d, %Y") %></td>
		<td><%= camp_item.end_date.strftime("%b %d, %Y") %></td>
	</tr>	
<% end %>
