<h3>Families</h3>

<% if not @families.empty? %>
<table class="table">
  <tr>
    <th width="150">Family Name</th>
    <th width="80">Parent</th>
    <th></th>
    <th></th>
  </tr>

  <% @families.each do |family| %>
    <tr>
      <td><%= family.family_name %></td>
      <td align="center"><%= family.parent_first_name %></td>
      <td><%= link_to 'Report', edit_family_path(family), class: "button tiny radius" %></td>
    </tr>
  <% end %>
  </table>
  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate @families, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>

<% else %>
  <p>No active families</p>
<% end %>